{
  "extends": [
    "airbnb-typescript"
  ],
  "parserOptions": {
    "project": [
      "./tsconfig.json"
    ]
  },
  "env": {
    "jest": true,
    "node": true,
    "browser": true
  },
  "plugins": [
    "react-hooks"
  ],
  "overrides": [
    {
      "files": [
        "*.tsx",
        "*.ts",
        "*.js"
      ],
      "rules": {
        "import/no-cycle": "off",
        "object-curly-newline": "off",
        "no-prototype-builtins": "off",
        "react/react-in-jsx-scope": "off",
        "implicit-arrow-linebreak": "off",
        "import/prefer-default-export": "off",
        "@typescript-eslint/no-use-before-define": "off"
      }
    }
  ]
}